body{
    background-color: rgb(100, 100, 100);
    display: flexbox;
    text-align: center;
}

html, body {
    margin: 0; height: 100%; overflow: hidden
}

div.wrap {
    height:100%; 
    overflow:hidden;
}

:root {
    touch-action: pan-x pan-y;
    height: 100% 
  }